
<div class="wideRow">
<label for="preg"  class="itemNarrow">Question:</label>
<%= quiz.question %>
</div>

<div class="wideRow">
<label for="text"  class="itemNarrow">Tip:</label>
<input type="text" class="itemWide" id="text" name="text" value="<%= tip.text %>" placeholder="New tip" autocomplete="off"/>
</div>

<br/>
<a href="/goback"><button type="button">Cancel</button></a>

<input type="submit" value="Save"> <!--Esto que hace?-->
